
@charset "utf-8";

html, body, ul, li { margin: 0; padding: 0; line-height: 1.2em;height: 100%;}
h1, h2, ul, li, p { margin: 0; padding: 0; }

a:hover {text-decoration:none;}
li{list-style: none;}

/*以后开发 用id元素开头，名称要复杂，不能与其他网页相同，被其他网页样式设定影响*/
a:hover {text-decoration:none;}
.youhanghang-content{position: fixed;top:0;left:-350px;background-color: #222d32;color: #FFF;width: 350px;height: 100%;z-index: 1999;text-align: left;}
.youhanghang-content h2{position: relative;font-weight: normal;height: 60px;line-height: 60px;background-color: #2C393E;border-radius: 6px;color: #FFF;}
.youhanghang-content h2 a{color: #FFF;cursor: pointer;margin-left: 30px;}
.youhanghang-content h2 a:hover{font-size: 30px;}
.youhanghang-content h2 a.home{right:10px;}
.youhanghang-content h2 a.edit{right:40px;}
.youhanghang-content  .swith-bookmarks-btn{opacity: 0;    filter: alpha(opacity=0);position: absolute;margin: auto;top:0;right:-80px;bottom:0;width:80px;height: 220px;line-height: 220px;text-align: center;background-color: #2C393E;border-left: 1px solid #FFF;cursor: pointer;z-index: 3333;}
.youhanghang-content  .swith-bookmarks-btn i{font-size:180px;}
.youhanghang-content  .swith-bookmarks-btn:hover{opacity: 1;}
.youhanghang-content .youhanghang-menu ul{margin: 0;}
.youhanghang-content .youhanghang-menu ul li {position: relative;display:block;width:350px;padding-top:2px;margin-bottom:5px;list-style:none;overflow:visible;background-color:#2C393E ;}
.youhanghang-content .youhanghang-menu ul li a i{margin-right: 10px;}

.youhanghang-content .youhanghang-menu ul li a {display:block;height:40px; line-height: 40px;padding-right: 20px;padding-left: 30px;font-size:14px;color:#FFF;outline:none;    word-break:keep-all;/* 不换行 */
    white-space:nowrap;/* 不换行 */
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/font-size: 20px;}
.youhanghang-content .youhanghang-menu ul li a:hover{border-left: 3px solid #3C8DBC;box-sizing: border-box;text-decoration:none;font-size: 24px;}
.youhanghang-content .youhanghang-menu ul li:hover{background-color: #1E282C;}
.youhanghang-content .youhanghang-menu ul li .active {background:url(../images/on.png) top right no-repeat;}

.youhanghang-content .youhanghang-menu ul li .inactive {background:url(../images/off.png) top right no-repeat;}
.youhanghang-content .youhanghang-menu ul li ul {display:none; padding-top:20px;padding-bottom:20px; background-color: #2C3B41; }
.youhanghang-content .youhanghang-menu ul li ul li:hover{background-color:#293131 ;border-left: none;}
.youhanghang-content .youhanghang-menu ul li ul li a{font-size: 18px;}
.youhanghang-content .youhanghang-menu ul li ul li a:hover{font-size: 20px;}
.youhanghang-content .youhanghang-menu ul li ul li a i{margin-right: 10px;}
.youhanghang-content .youhanghang-menu ul li ul li ul {background-color: #4B5D5F;padding-top: 20px;padding-bottom: 20px;}
.youhanghang-content .youhanghang-menu ul li ul li {background:none;}
.youhanghang-content .youhanghang-menu ul li ul li a {display:block;height:34px; line-height: 34px;padding-left: 50px;}
.youhanghang-content .youhanghang-menu ul li ul li ul li:hover{background-color:#3B3E3E ;}
.youhanghang-content .youhanghang-menu ul li ul li ul li a {display:block;height:34px; line-height: 34px;padding-left: 70px;font-size: 16px;color: #FFF;}

.youhanghang-content .youhanghang-menu ul li ul li ul li a i{margin-right: 0;position: relative;left:-10px;}
.youhanghang-content .youhanghang-menu ul li ul li ul li a:hover {font-size: 18px;color: #FFF;}

/* .youhanghang-content  .add-icon{background:#333;height:40px; width:40px; display:block; position:relative;}

.youhanghang-content  .add-icon:before, .add-icon:after{content:''; height:6px; width:28px; display:block; background:#fff; border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px; position:absolute; top:17px; left:6px;}

 .youhanghang-content .add-icon:after{height:28px; width:6px; top:6px; left:17px;}
 */

.icono-plus.new:hover{    transform: scale(1.4);}

.icono-trash.new{transform: scale(0.9);}
.icono-trash.new:hover{    transform: scale(1.1);}

.youhanghang-content .iconDel{display: none;position: absolute;top:5px;right:5px;cursor: pointer;}
.youhanghang-content .iconDel:hover{ transform: rotate(-45deg);border: 1px solid red;}

/*收藏网址弹窗样式*/
.youhanghang-addClassBox {
    display: none;
    position: fixed;
    top: -150px;
    left: 0;
    width: 100%;
    height: 170px;
   
    cursor: default;
    z-index: 2000;
    padding: 10px;
    
    
    background-color:rgba(11, 11, 11, 0.5); 
}
.youhanghang-addClassBox .addForm{text-align: center;}
.youhanghang-addClassBox .addForm-inlineBlock{display: inline-block;}
.youhanghang-addClassBox .red {
    color: red;
    font-size: 16px;
}

.youhanghang-addClassBox .j-alert{display: none;}
.youhanghang-addClassBox form {
    font-size: 16px;
    color: #FFF;
}

.youhanghang-addClassBox form div {
    text-align: left;

}

.youhanghang-addClassBox label {
    display: inline-block;
    width: 80px;
    text-align: left;
}

.youhanghang-addClassBox input {
    width: 400px;
    
    padding: 6px 12px;
 border-radius: 4px;
}
.youhanghang-addClassBox select{
    color: #555;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
}
.youhanghang-addClassBox input:focus{
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.youhanghang-addClassBox .save-link,
.youhanghang-addClassBox .cancel-link {
    width: 70px;
    height: 30px;
    border-radius: 4px;
    background-color: #FFF;
    color: #333;
    border: 1px solid transparent;
    cursor: pointer;
    text-align: center;
    padding: 0;
    margin-left: 10px;
    vertical-align: -1px;
}
.youhanghang-addClassBox .save-link:hover,.youhanghang-addClassBox .cancel-link:hover{
    border: 1px solid #adadad;
    background-color: #e6e6e6;
    color: #333;
 }
.youhanghang-addClassBox select {
    width: 100px;
    height: 30px;
    font-size: 16px;
    vertical-align: -1px;
}

.youhanghang-addClassBox select option {
    text-align: center;
}

.youhanghang-addClassBox .add-class-input.short {
    width: 72px;
    font-size: 14px;
}

.youhanghang-addClassBox div {
    margin-bottom: 10px;
}

.youhanghang-box {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: .5;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
}






