<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>知识</title>
    <link rel="stylesheet" type="text/css" href="css/bookmarks.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
</head>

<body>
    <!-- 
    问题
    新添加的分类不能立马刷新在左侧书签栏
    添加分类的数据保存的没有问题，但是刷新页面后左侧书签栏的第二层目录标题显示为空，可能与angular的渲染有关，
    编辑书签还没做
-->
    <!-- 
    以后会做的功能
    屏蔽原浏览器快捷键 用自己的设置的快捷键
    手动复制现有数据并备份在自己电脑，添加恢复数据的的功能，将备份的数据添加到当前页面的localstorage上
    打开书签时默认在当前iframe打开
-->
    <div class="youhanghang-content">
        <h2>
            <a id="editBookmarks" title='编辑书签' class="icon-edit edit"></a>
            <a id="addBookMarks" title='添加书签' class="icon-bookmark-empty"></a>
        </h2>
        <div id="swithBookmarksBtn" class="swith-bookmarks-btn"><i class="icon-angle-right"></i></div>
        <div class="menu" id="menu" data-ng-app="myApp" ng-controller="myCtrl">
            <ul>
                <li data-ng-repeat="x in data"><a class="active" href="#"><i class="icon-folder-close-alt"></i>{{ x.firstTitle }}</a>
                    <ul>
                        <li data-ng-repeat="y in data[$index].firstCon"><a href="#"><i class="icon-folder-close-alt"></i>{{ y.secondTitle }}</a>
                            <ul>
                                <li data-ng-repeat="z in data[$parent.$index].firstCon[$index].secondCon"><a class="hasHref" href="{{z.href}}"><i class="icon-circle-blank"></i>{{ z.thirdTitle}}</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="youhanghang-box"></div>
    <div class="youhanghang-addClassBox">
        <form id="addForm" class="addForm">
            <div class="addForm-inlineBlock">
                <div>
                    <label for="linkTitle">标题</label>
                    <input type="text" name="linkTitle" id="linkTitle">
                </div>
                <div>
                    <label for="linkHref">地址</label>
                    <input type="text" name="linkHref" id="linkHref"> </div>
                <div>
                    <label>选择分类</label>
                    <select name="selectClass" id="selectClass1">
                    </select>
                    <select name="selectClass2" id="selectClass2">
                    </select>
                </div>
                <div>
                    <label for="linkHref">当前分类</label>
                    <input class="add-class-input short" type="text" name="className1" id="className1" placeholder="第一层目录">
                    <input class="add-class-input short" type="text" name="className2" id="className2" placeholder="第二层目录">
                    <input id="save" class="save-link" type="button" value="保存退出">
                    <input id="cancel" class="cancel-link" type="button" value="取消">
                    <span class="j-alert red ">请填写完整信息!</span>
                </div>
            </div>
        </form>
    </div>
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/menu_min.js"></script>
    <script src="js/angular.min.js"></script>
    <!--   <script src="js/web-storage-cache.js"></script> -->
    <script src="js/data.js"></script>
    <script src="js/bookmarks.js"></script>
    <script src="js/addHref.js"></script>
    <script>
    $(document).ready(function() {
        //左侧书签列表调用
        $(".menu ul li").menu();

    });
    </script>
    <script type="text/javascript">
    </script>
</body>

</html>
